@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome, <span class="highlight">Hello World</span>!</h1>
    
    <h2>Explorando el mundo de ASP.NET Core</h2>

    <button class="btn btn-primary mt-4" onclick="redirectToUsers()">Haz clic aquí para dirigirte a usuarios</button>
</div>

<!-- Custom Styles -->
<style>
    .highlight {
        color: #007bff;
        font-weight: bold;
    }

    /* Estilo para el botón */
    .btn {
        transition: background-color 0.3s, transform 0.3s;
    }

    .btn:hover {
        background-color: #0056b3; 
        transform: scale(1.1); 
    }
</style>

<!-- Custom Script -->
<script>
    function redirectToUsers() {
        window.location.href = 'https://localhost:7195/Usuarios'; // Redirige a la página de usuarios
    }
</script>
